.nav {
    display: flex;
    padding: 20px;
    background-color: #fff;
    .navItem {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      img {
        width: 60px;
        height: 60px;
      }
  
      .text {
  
      }
    }
  }